* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
}
body {
    font-family: Zalando, sans-serif;
    background-color: #282626;
    color: white;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
h2 {
    font-family: "Zalando Sans Expanded", sans-serif;
}
.about-me {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3b3a3a;
    border-radius: 8px;
}
.nav-header {
    background-color: aliceblue;
    border-radius: 10px;
}
.ul-header {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
}
.container-image img {
    width : 100px; height : 100px;
    border-radius: 75px;
}
/*Projects*/

.project-card {
    background-color: #3b3a3a;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.image-project1, .image-project2, .image-project3 {
    width: 40px;
    height: auto;
    margin-right: 10px;
}
.container-text1, .container-text2, .container-text3 {
    display: flex;;
    text-align: left;
    align-items: flex-end;
    padding: 4px;
}
.title-project1 {
    height: 32px;
    font-size: 1.6em;
    font-weight: bold;
    align-items: flex-end;
}
.container-description1, .container-description2, .container-description3 {
    text-align: left;
    padding: 4px;
    margin-top: 2px;
}


